<div class="container">
    <app-order-form
        [title]="currentOrder.title"
        [price]="currentOrder.estimate"
        [limit]="currentOrder.limit"
        [details]="currentOrder.details"
        leftButtonTitle="Guardar Cambios"
        rightButtonTitle="Descartar Cambios"
        (leftButtonAction)="this.onSaveChanges($event)"
        (rightButtonAction)="this.onCancelChanges($event)"
        (afterTyping)="this.onAfterTyping($event)"
    ></app-order-form>
    <app-order-view-control [orderID]="currentOrder.id" [file]="this.file"></app-order-view-control>
</div>