.mat-mdc-raised-button.mat-primary {
    height: 40px;

    border-radius: 100px;
    background: var(--furni-go-sys-light-primary, #A43D00);

    color: var(--furni-go-sys-light-on-primary, #FFF);
    text-align: center;
    /* FurniGo/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}