<div class="container">
    <app-order-form
        [title]="currentOrder.title"
        [price]="currentOrder.estimate"
        [limit]="currentOrder.limit"
        [details]="currentOrder.details"
        [disableControls]="['title', 'details']"
        leftButtonTitle="Mandar Oferta"
        rightButtonTitle="Cancelar"
        (leftButtonAction)="this.onSaveChanges($event)"
        (rightButtonAction)="this.onCancelChanges($event)"
        (afterTyping)="this.onAfterTyping($event)"
    ></app-order-form>
    <app-order-view-control [orderID]="this.currentOrder.id"></app-order-view-control>
</div>