<div class="order-info">
    <app-order-details [code]="currentOrder.id" [status]="currentOrder.state" [limit]="currentOrder.limit"
        [title]="currentOrder.title" [maxBudget]="currentOrder.estimate" [details]="currentOrder.details"
        [wasAccepted]="this.wasAccepted" [nextUserName]="this.getShowUser()"></app-order-details>
    <app-order-view-control [orderID]="currentOrder.id"></app-order-view-control>
</div>
<ng-container *ngIf="this.isClient(); else expert">
    <button *ngIf="currentOrder.state != 'cancelled' && currentOrder.state != 'done' && currentOrder.state != 'waiting'" mat-icon-button
        class="edit-button" routerLink="/order/edit" [queryParams]="{code: currentOrder.id}">
        <mat-icon aria-label="Button Edit">
            edit
        </mat-icon>
    </button>
    <button *ngIf="currentOrder.state == 'waiting'" mat-icon-button class="finish-button1"
        (click)="this.finishClientOrder($event)">
        <mat-icon aria-label="Button Done">
            check
        </mat-icon>
    </button>
    <button *ngIf="currentOrder.state != 'cancelled' && currentOrder.state != 'done' && currentOrder.state != 'waiting'" mat-icon-button class="cancel-button1"
        (click)="this.cancelOrder($event)">
        <mat-icon aria-label="Button Cancel">
            cancel
        </mat-icon>
    </button>
</ng-container>
<ng-template #expert>
    <ng-container *ngIf="!this.expertExistOffer && currentOrder.state != 'building'; else existOffer">
        <button mat-icon-button class="accept-button" routerLink="/order/offer" [queryParams]="{code: currentOrder.id}">
            <mat-icon aria-label="Button Accept">
                check
            </mat-icon>
        </button>
    </ng-container>
    <ng-template #existOffer>
        <ng-container *ngIf="
            currentOrder.state != 'cancelled' 
            && currentOrder.state != 'waiting'
            && currentOrder.state != 'done' 
            && this.expertIsAcceptedOffer">
            <button mat-icon-button class="finish-button2" (click)="this.finishExpertOrder($event)">
                <mat-icon aria-label="Button Edit">
                    check
                </mat-icon>
            </button>
        </ng-container>
    </ng-template>
</ng-template>