<div class="form">
    <mat-card>
        <mat-card-title align="center">Iniciar Sesion</mat-card-title>
        <mat-card-subtitle>
            <span>Aun no estas registrado? <a routerLink="/sign-up">Registrate Aqui!!</a></span>
        </mat-card-subtitle>
        <form [formGroup]="this.signInForm">
            <mat-error align="center" *ngIf="this.hadError">{{this.errorMessage}}</mat-error>
            <mat-grid-list cols="1" rowHeight="90px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="user@domain.com" formControlName="email" required>
                        <mat-error *ngIf="email.errors?.['email']">Debes ingresar un email valido</mat-error>
                        <mat-error *ngIf="email.errors?.['required']">El Email es requerido</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" placeholder="contraseña" formControlName="password" required>
                        <mat-error *ngIf="password.errors?.['minlength']">La contraseña debe tener minimo 8
                            caracteres</mat-error>
                        <mat-error *ngIf="password.errors?.['required']">La Constraseña es requerida</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions>
                <app-button (click)="signIn()">Iniciar sesion</app-button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>