<form >
    <mat-grid-list cols="1" rowHeight="75px">
        <mat-grid-tile>
            <mat-form-field floatLabel="always">
                <mat-label>Nombres</mat-label>
                <input disabled matInput placeholder="Nombre" value="renzo Javier" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input disabled matInput placeholder="Apellido" value="Loli Ruiz" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input disabled matInput placeholder="Telefono" value="928820160" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input disabled matInput placeholder="Correo" value="renzololi1@hotmail.com" />
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>