<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>
            <h2>Pedido #{{ code }}</h2>
            <app-status-tag></app-status-tag>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Fecha de entrega:</p><span>{{ limit | date }}</span>
        <p>Precio acordado:</p><span>{{ maxBudget | currency }}</span>
        <ng-template [ngIf]="this.isClient()" [ngIfElse]="expert">
            <p>Cliente: </p> <span>{{ this.getOrderClientName() }}</span>
        </ng-template>
        <ng-template #expert>
            <p>Experto: </p> <span>{{ this.getOrderExpertName() }}</span>
        </ng-template>
        <p>Detalles:</p><span class="details">{{ details }}</span>
    </mat-card-content>
</mat-card>